<br>

<mat-table [dataSource]="notAllocatedDataSource"
  class="mat-elevation-z8" cdkDropList #table1 #list1="cdkDropList"
  [cdkDropListData]="notAllocatedDataSource.data" [cdkDropListConnectedTo]="[list2 , list3]"
  (cdkDropListDropped)="drop($event)" (cdkDropListExited)="dropListExited($event)" id="table1">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef> area </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loadType">
      <mat-header-cell *matHeaderCellDef> loadType </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.loadType}} </mat-cell>
    </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;" cdkDrag></mat-row>
</mat-table>

<br>

<mat-table [dataSource]="allocatedDataSource" class="mat-elevation-z8"
  cdkDropList #table2 #list2="cdkDropList" [cdkDropListData]="allocatedDataSource.data"
  [cdkDropListConnectedTo]="[list1, list3]" (cdkDropListExited)="dropListExited($event)" (cdkDropListDropped)="drop($event)" id="table2">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="area">
    <mat-header-cell *matHeaderCellDef> area </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="loadType">
  <mat-header-cell *matHeaderCellDef> loadType </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.loadType}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;" cdkDrag></mat-row>
</mat-table>

<br>

<mat-table [dataSource]="supplyAllocatedDataSource" class="mat-elevation-z8"
  cdkDropList #table3 #list3="cdkDropList" [cdkDropListData]="supplyAllocatedDataSource.data"
  [cdkDropListConnectedTo]="[list1, list2]" (cdkDropListExited)="dropListExited($event)" (cdkDropListDropped)="drop($event)" id="table3">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="area">
    <mat-header-cell *matHeaderCellDef> area </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="loadType">
  <mat-header-cell *matHeaderCellDef> loadType </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.loadType}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;" cdkDrag></mat-row>
</mat-table>