<h1 mat-dialog-title>Configuration</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Related load:</mat-label>
    <mat-select [(value)]="form.relatedLoad">
      <mat-option *ngFor="let relatedLoad of relatedLoads" [value]="relatedLoad">
        {{relatedLoad.loadName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
